[submodule "Eye/vendor/spdlog"]
	path = Eye/vendor/spdlog
	url = https://github.com/gabime/spdlog
	ignore = dirty
[submodule "Eye/vendor/GLFW"]
	path = Eye/vendor/GLFW
	url = https://github.com/fseeeye/glfw
	ignore = dirty
[submodule "Eye/vendor/imgui"]
	path = Eye/vendor/imgui
	url = https://github.com/fseeeye/imgui/
	ignore = dirty
[submodule "Eye/vendor/glm"]
	path = Eye/vendor/glm
	url = https://github.com/g-truc/glm
